body{
    background-color: rgb(29, 29, 29);
    color: white;
}

.title {
    text-align: center;

}

.page-div{
    text-align: center;
}


.scrollable-div-container {
    float: left;
    text-align: left;

    
    
    
}

.scrollable-div {
    width: 200%;
    overflow: auto;
    left: 0;
    height: 90vh;
    background-color: #01003a;

}

.scrollable-div-title{
    background-color: #01003a;
    color: white;
    
    
    
}

.scrollable-div-button{
    background-color: #01003a;
    color: white;
    border: 0;
    float: left;
    
}

.scrollable-div-button:hover{

    color: rgb(238, 255, 0);
    font-size: 120%;
    transition: 0.5s;

}

#main_frame {
    
    height: 90vh;
    width: 90%;
    

    display: inline-block;
    border: 1px solid #01003a;
    
}